html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

body {
    background-color: #494949;
}

.wrap {
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

.banner-container {
    padding: 1em;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    background-color: #1e1e1e;
}

.banner-title {
    margin: 0px;
    color: #fffafa;
}

.banner-version {
    color: #5555b1;
}

.footer-container {
    width: 100%;
    bottom: 0px;
    position: absolute;
    text-align: center;
    color: #c0c0c0;
    background-color: #1e1e1e;
}

.footer-link {
    text-decoration: none;
    color: #ffffff;
}

.footer-link:hover {
    transition: color 0.25s;
    color: #ff0000;
}

.legacy-version-info {
    padding: 0.5em;
    position: relative;
    font-size: 12px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    color: #000000;
    background-color: #ffffa1;
}

#legacy-version-info-close {
    right: 5px;
    bottom: 0px;
    position: absolute;
    cursor: pointer;
    color:#4242fc;
}

#legacy-version-info-close:hover {
    text-decoration: underline;
}

.content-wrap {
    padding: 1em 15vw;
    text-align: center;
}

.content {
    padding: 1em;
    text-align: left;
    border-radius: 10px;
    color: #e6e6e6;
    background-color: #404040;
}

.content-input {
    max-width: 100%;
}

#gaming-btn {
    width: 70px;
}

.caution {
    margin-bottom: 0.5em;
    padding-left: 2.5px;
    font-size: 12px;
    border-radius: 2.5px;
    background-color: #9370db;
}

#dm-input {
    width: 100%;
}

@media screen and (min-width: 1500px) {
    #discord-widget {
        width: 15vw;
        bottom: 0px;
        left: 0px;
        position: absolute;
    }
}

@media screen and (max-width: 1500px) {
    #discord-widget {
        width: calc(100% - 2em);
        margin: 1em 0px 1em 1em;
    }
}

#theme-select-help {
    cursor: pointer;
    font-size: 12px;
}

#theme-select-help:hover {
    color: #ffffff;
}

/* https://www.ccs1981.jp/blog/css%E3%81%A7%E8%89%B2%E3%82%93%E3%81%AA%E3%82%82%E3%81%AE%E3%82%92%E8%99%B9%E8%89%B2%E3%81%AB%E5%85%89%E3%82%89%E3%81%9B%E3%82%8B/ */
.css-gaming {
    animation: css-gaming 2s linear infinite;
}
@keyframes css-gaming {
    0% { background-color: magenta; }
    33% { background-color: yellow; }
    66% { background-color: cyan; }
    100% { background-color: magenta; }
}
.css-wave-gaming {
    background: linear-gradient(to right, magenta, yellow, cyan, magenta) 0% center / 200%;
    animation: css-wave-gaming 2s linear infinite;
}
@keyframes css-wave-gaming {
    100% { background-position-x: 200%; }
}
.css-gaming-common {
    -webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
}

.checkalive-result-hide {
    display: none;
}
.checkalive-result-show {
    margin-top: 0.5em;
    display: block;
    border-radius: 5px;
}
.checkalive-result-alive {
    background-color: limegreen;
}
.checkalive-result-dead {
    background-color: rgb(255, 31, 69);
}